<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>bookSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>cn.xzf.web.IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/admin/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>cn.xzf.web.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/admin/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MainServlet</servlet-name>
    <servlet-class>cn.xzf.web.MainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainServlet</servlet-name>
    <url-pattern>/admin/main</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BookServlet</servlet-name>
    <servlet-class>cn.xzf.web.BookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookServlet</servlet-name>
    <url-pattern>/admin/book</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NewServlet</servlet-name>
    <servlet-class>cn.xzf.web.NewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewServlet</servlet-name>
    <url-pattern>/book/new</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateServlet</servlet-name>
    <servlet-class>cn.xzf.web.UpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateServlet</servlet-name>
    <url-pattern>/book/update</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DelServlet</servlet-name>
    <servlet-class>cn.xzf.web.DelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelServlet</servlet-name>
    <url-pattern>/book/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CardServlet</servlet-name>
    <servlet-class>cn.xzf.web.CardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CardServlet</servlet-name>
    <url-pattern>/admin/card</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CardNewServlet</servlet-name>
    <servlet-class>cn.xzf.web.CardNewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CardNewServlet</servlet-name>
    <url-pattern>/card/new</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CardUpdateServlet</servlet-name>
    <servlet-class>cn.xzf.web.CardUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CardUpdateServlet</servlet-name>
    <url-pattern>/card/update</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CardDeleteServlet</servlet-name>
    <servlet-class>cn.xzf.web.CardDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CardDeleteServlet</servlet-name>
    <url-pattern>/card/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>cn.xzf.web.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/admin/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BookSearchServlet</servlet-name>
    <servlet-class>cn.xzf.web.BookSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookSearchServlet</servlet-name>
    <url-pattern>/book/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BookBorrowServlet</servlet-name>
    <servlet-class>cn.xzf.web.BookBorrowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookBorrowServlet</servlet-name>
    <url-pattern>/book/borrow</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QuitServlet</servlet-name>
    <servlet-class>cn.xzf.web.QuitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuitServlet</servlet-name>
    <url-pattern>/quit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SLoginServlet</servlet-name>
    <servlet-class>student.SLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SLoginServlet</servlet-name>
    <url-pattern>/student/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SMainServlet</servlet-name>
    <servlet-class>student.SMainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SMainServlet</servlet-name>
    <url-pattern>/student/main</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SBorrowServlet</servlet-name>
    <servlet-class>student.SBorrowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SBorrowServlet</servlet-name>
    <url-pattern>/student/borrow</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StudentSearch</servlet-name>
    <servlet-class>student.StudentSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentSearch</servlet-name>
    <url-pattern>/student/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SBookSearchServlet</servlet-name>
    <servlet-class>student.SBookSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SBookSearchServlet</servlet-name>
    <url-pattern>/student/book/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SHBorrowServlet</display-name>
    <servlet-name>SHBorrowServlet</servlet-name>
    <servlet-class>student.SHBorrowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SHBorrowServlet</servlet-name>
    <url-pattern>/student/hborrow</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SReturnServlet</display-name>
    <servlet-name>SReturnServlet</servlet-name>
    <servlet-class>student.SReturnServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SReturnServlet</servlet-name>
    <url-pattern>/student/return</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SUpdateServlet</display-name>
    <servlet-name>SUpdateServlet</servlet-name>
    <servlet-class>student.SUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SUpdateServlet</servlet-name>
    <url-pattern>/student/update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SMessageServlet</display-name>
    <servlet-name>SMessageServlet</servlet-name>
    <servlet-class>student.SMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SMessageServlet</servlet-name>
    <url-pattern>/student/message</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SMDelServlet</display-name>
    <servlet-name>SMDelServlet</servlet-name>
    <servlet-class>student.SMDelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SMDelServlet</servlet-name>
    <url-pattern>/student/message/del</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentNewServlet</display-name>
    <servlet-name>StudentNewServlet</servlet-name>
    <servlet-class>student.StudentNewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentNewServlet</servlet-name>
    <url-pattern>/student/new</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MessageServlet</display-name>
    <servlet-name>MessageServlet</servlet-name>
    <servlet-class>cn.xzf.web.MessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessageServlet</servlet-name>
    <url-pattern>/admin/message</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MessageDelServlet</display-name>
    <servlet-name>MessageDelServlet</servlet-name>
    <servlet-class>cn.xzf.web.MessageDelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessageDelServlet</servlet-name>
    <url-pattern>/admin/message/del</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReplyServlet</display-name>
    <servlet-name>ReplyServlet</servlet-name>
    <servlet-class>cn.xzf.web.ReplyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReplyServlet</servlet-name>
    <url-pattern>/admin/reply</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>cn.xzf.web.filter.EncodingFilter</filter-class>
    <init-param>
      <param-name>encode</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>ValidateLoginFilter</filter-name>
    <filter-class>cn.xzf.web.filter.ValidateLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ValidateLoginFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <servlet-name>ReturnServlet</servlet-name>
    <servlet-class>cn.xzf.web.ReturnServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReturnServlet</servlet-name>
    <url-pattern>/admin/return</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>ReturnBookServlrt</servlet-name>
    <servlet-class>cn.xzf.web.ReturnBookServlrt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReturnBookServlrt</servlet-name>
    <url-pattern>/admin/returnbook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookExportServlet</display-name>
    <servlet-name>BookExportServlet</servlet-name>
    <servlet-class>cn.xzf.web.BookExportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookExportServlet</servlet-name>
    <url-pattern>/book/export</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookImportServlet</display-name>
    <servlet-name>BookImportServlet</servlet-name>
    <servlet-class>cn.xzf.web.BookImportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookImportServlet</servlet-name>
    <url-pattern>/book/import</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDownloadTempServlet</display-name>
    <servlet-name>AdminDownloadTempServlet</servlet-name>
    <servlet-class>cn.xzf.web.AdminDownloadTempServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDownloadTempServlet</servlet-name>
    <url-pattern>/admin/download/temp</url-pattern>
  </servlet-mapping>
</web-app>